/*
    Scanpay: Admin widget
*/


/* Reset meta-box inside */
#scanpay-info > .inside {
    margin: 12px 0 0 0;
    padding: 0;
}

/* Alert box in meta box */
.scanpay--alert {
    margin: 9px 11px 9px;
    padding: 6px 10px 5px;
    font-size: .95em;
    border-radius: 3px;
    color: #22240a;
    background: #fff9e6;
    border: 1px solid #c1b7ab;

    > strong {
        font-weight: 600;
        font-size: .95em;
    }
}

.scanpay--alert-warning {
    color: #400808;
    background: #ffe8e6;
    border: 1px solid #d19898;
}

.scanpay--alert-error {
    color: #400808;
    background: #ffe8e6;
    border: 1px solid #d19898;
}




.scanpay--alert-pending {
    display: flex;
}

.scanpay--alert--spin {
    vertical-align: baseline;
    margin: 0 6px 0 0;
}

/* Meta box */
.scanpay--widget--ul {
    margin: 10px 0 11px;
    padding: 0 12px;
    list-style: none !important;
}

.scanpay--widget--li {
    display: flex;
    padding: .15em 0;
}

.scanpay--widget--status--fully-refunded, .scanpay--widget--status--partially-refunded {
    color: #772727;
}

.scanpay--widget--status--partially-captured {
    color: #364d36
}

.scanpay--widget--status--fully-captured {
    color: #1f601f
}

.scanpay--widget--li--refunded {
    color: #641515
}

.scanpay--widget--refund {
    color: #b32d2e;
    margin-top: 1px;
}



.scanpay--actions {
    display: flex;
    background-color: #f8f8f8;
    border-top: 1px solid #e0e0e0;
    padding: 7px 12px 3px;
}

.scanpay--actions--expand {
    flex: 1
}






.scanpay--widget--li--title {
    flex: 1;
}

.scanpay--widget--li--status--captured {
    color: #005800;
}

.scanpay--widget--li--status--refunded {
    color: #901212;
}

.scanpay--widget--li--status--partial_refund {
    color: #a14a20;
}


/*
    Scanpay: Admin settings page
*/

.scanpay--admin--nav {
    display: flex;
    align-items: center;
    padding: .8rem 0 .8rem;
    font-size: 14px;
}

.scanpay--admin--nav--lastping {
  margin: 3px 0 0 .8rem;
  font-style: italic;
  color: #195c2b;
}

.scanpay--admin--nav > .button {
    margin: 0 .7rem 0 0;
    font-size: 14px;
}


.scanpay--admin--git--svg {
    fill: currentColor;
    vertical-align: -3px;
    margin: 0 0 0 -3px;
}

.scanpay--admin--pingbtn--svg {
    fill: currentColor;
    vertical-align: -3px;
    margin: 0 2px 0 -3px;
}


/*
    settings alert box
*/
.scanpay--admin--alert {
    display: flex;
    align-items: center;
    max-width: 66rem;
    font-size: 1.1em;
    line-height: 1.5;
    background: #fff4cc;
    border-left: 5px solid #dfc155;
    margin: 1.4em 0 .3em;
    padding: .8em 1.2em .7em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px 0px;
}

.scanpay--admin--alert--ico {
    padding-right: 1em;
}

.scanpay--admin--alert--btn {
    position: relative;
    display: inline-block;
    padding: .45em .7em .4em;
    margin: 0 .4em 0 0;
    background: #2271b1;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}

.scanpay--admin--alert--btn:hover, .scanpay--admin--alert--btn:focus {
    background: #135e96;
    color: #fff;
    box-shadow: none;
}

.scanpay--admin--alert--title {
    font-weight: bold;
    padding: 0 0 2px;
}

/*
    Reduce paddings in auto-complete group
*/

.scanpay--admin--table tr:nth-last-child(2) > .titledesc, .scanpay--admin--table tr:nth-last-child(3) > .titledesc {
    padding-top: 7px;
}

.scanpay--admin--table tr:nth-last-child(2) > .forminp, .scanpay--admin--table tr:nth-last-child(3) > .forminp {
    padding-top: 3px;
}

/*
    Hide subscriptions settings if subscriptions is disabled.
*/
.scanpay--admin--no-subs tr:nth-last-child(2) {
    display: none;
}


