/*
    CSS for Block-Based Checkout (Cart and Checkout Blocks)
    This stylesheet can be disabled in the admin panel.
*/

.wcsp-label {
    display: flex;
}

.wcsp-title {
    margin-right: 1em;
}

.wcsp-icons {
    display: flex;
    gap: .3em;
    align-items: center;
}

.wcsp-icons-scanpay > img {
    height: 22px !important;
    max-height: 22px !important;
}

.wcsp-icon-applepay {
    margin-top: 3px;
    height: 22px !important;
    max-height: 22px !important;
}
