/*
    CSS for plugin settings
    prefix with wcsp-set-
*/

.wcsp-set-nav {
    display: flex;
    align-items: center;
    margin: 1em 0 1em;
    font-size: 1.07em;
}

.wcsp-set-nav > .button {
    display: flex;
    align-items: center;
    margin: 0 .6rem 0 0;
    font-size: 1em;
}

.wcsp-set-nav-img-git {
    margin: 0 2px 0 -3px;
}

.wcsp-set-nav-img-ping {
    margin: 0 6px 0 -3px;
}

#wcsp-set-nav-mtime {
    font-style: italic;
    margin: 1px 0 0 .3em;
}

#wcsp-set-nav-mtime > b {
    color: #035c03;
}


.wcsp-set-alert {
    display: block;
    align-items: center;
    max-width: 66rem;
    font-size: 1.05em;
    line-height: 1.5;
    background: #fff4cc;
    border-left: 5px solid #dfc155;
    margin: 1.5em 0 .5em;
    padding: .8em 1.2em;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
}

.wcsp-set-alert > h4 {
    font-weight: bold;
    margin: 1px 0 2px;
    font-size: 1.05em;
}

.wcsp-set-api-info {
    font-style: italic;
    color: #555;
    display: block;
    margin: 8px 0 -8px;
}

/*
    Reduce paddings in auto-complete group
*/

.form-table tr:nth-child(1) > * {
    padding-bottom: 5px;
}

.form-table tr:nth-child(2) > * {
    padding-top: 0;
    padding-bottom: 9px;
}

.form-table tr:nth-last-child(1) > * {
    padding-top: 0px;
    padding-bottom: 0;
}

.form-table tr:nth-last-child(2) > * {
    padding-bottom: 5px;
}
