/*
    CSS for plugin settings
    prefix with wcsp-set-
*/

.wc-admin-header {
	margin-top: 1.5em;
}

/*
    Reduce padding between Enable and API-key
*/
.wcsp-set-scanpay tr:nth-child(2) > * {
	padding-top: 5px;
}

.wcsp-set-scanpay tr:nth-child(6) > * {
	padding-top: 10px;
	padding-bottom: 7px;
}

/*
    Reduce paddings in auto-complete group
*/

.wcsp-set-scanpay tr:nth-last-child(2) > * {
	padding-top: 0;
}

.wcsp-set-scanpay tr:nth-last-child(3) > * {
	padding-top: 0;
	padding-bottom: 5px;
}

.wcsp-set-scanpay tr:nth-last-child(4) > * {
	padding-bottom: 5px;
}


/* Navigation tabs */

.wcsp-nav {
	display: flex;
	margin: 2em 0 1.6em;
	border-bottom: 1px solid #c3c4c7;
}

.wcsp-nav-tab {
	border: 1px solid #c3c4c7;
	margin-left: .5em;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.71428571;
	font-weight: 600;
	background: #dcdcde;
	color: #50575e;
	text-decoration: none;
	white-space: nowrap;
	margin-bottom: -1px;
}

.wcsp-nav-tab-active {
	border-bottom: 1px solid #f0f0f1;
	background: #f0f0f1;
	color: #116995;
}
