/*
    CSS for meta box
    prefix with wcsp-meta-
*/

#wcsp-meta {
	min-height: 80px;
}

#wcsp-meta-box > .inside {
	margin: 10px 0 0;
	padding: 0;
}

/* Alert box in meta box */
.wcsp-meta-alert {
	margin: 9px 11px;
	padding: 6px 10px 5px;
	font-size: 0.95em;
	border-radius: 3px;
	color: #22240a;
	background: #fff9e6;
	border: 1px solid #c1b7ab;

	> strong {
		font-weight: 600;
		font-size: 0.95em;
	}
}

.wcsp-meta-alert-warning {
	color: #400808;
	background: #ffe8e6;
	border: 1px solid #d19898;
}

.wcsp-meta-alert-error {
	color: #400808;
	background: #ffe8e6;
	border: 1px solid #d19898;
}

.wcsp-meta-alert-pending {
	display: flex;
}

.wcsp-meta-alert--spin {
	vertical-align: baseline;
	margin: 0 6px 0 0;
}

/* Meta box */
.wcsp-meta-ul {
	margin: 10px 0 0;
	padding: 0 12px 5px;
	list-style: none !important;
}

.wcsp-meta-li {
	display: flex;
	padding: 0.15em 0;
}

.wcsp-meta-li-status-fully-refunded,
.wcsp-meta-li-status-partially-refunded {
	color: #772727;
}

.wcsp-meta-li-status-partially-captured {
	color: #364d36;
}

.wcsp-meta-li-status-fully-captured {
	color: #1f601f;
}

.wcsp-meta-li-refunded {
	color: #641515;
}

.wcsp-meta-li-title {
	flex: 1;
}

.wcsp-meta-li-status--captured {
	color: #005800;
}

.wcsp-meta-li-status--refunded {
	color: #901212;
}

.wcsp-meta-li-status--partial_refund {
	color: #a14a20;
}

.wcsp-meta-li-card {
	display: flex;
	align-items: center;
	gap: 4px;
}

.wcsp-meta-li-card--dots {
	color: #696969;
}

.wcsp-meta-li-card--dankort,
.wcsp-meta-li-card--visadankort {
	width: 24px;
	height: 15px;
}

.wcsp-meta-li-card--visa {
	width: 27px;
	height: 9px;
}

.wcsp-meta-li-card--mastercard,
.wcsp-meta-li-card--maestro {
	width: 22px;
	height: 13px;
}

.wcsp-meta-li-card--amex {
	width: 24px;
	height: 15px;
}

.wcsp-meta-li-card--diners {
	width: 18px;
	height: 15px;
}

.wcsp-meta-li-card--jcb {
	width: 21.5px;
	height: 15px;
}

.wcsp-meta-li-card--unionpay {
	width: 22px;
	height: 15px;
}

.wcsp-meta-li-card--discover {
	width: 23px;
	height: 15px;
}

.wcsp-meta-li-card--mobilepay {
	width: 16px;
	height: 17px;
}

.wcsp-meta-li-card--applepay {
	height: 13px;
}

/*
    actions (bottom panel)
*/

.wcsp-meta-acts {
	display: flex;
	align-items: center;
	height: 34px;
	background-color: #f8f8f8;
	border-top: 1px solid #e0e0e0;
	padding: 0 11px;
}

.wcsp-meta-acts-left {
	flex: 1;
}

.wcsp-meta-acts-link {
	display: block;
	background: url(../images/admin/link.svg) no-repeat center;
	width: 24px;
	height: 24px;
}

.wcsp-meta-acts-refund {
	color: #b32d2e;
	margin-bottom: 3px;
}
